# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# MacOS
.DS_Store

# Data (large files)
data/*
!data/.gitkeep

# Model artifacts
artifacts/*
!artifacts/.gitkeep

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Optional exports
*.parquet
*.csv
